*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-header{
    background-color: white;
}
.padding-header{
    height: 50x;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.img-logo{
    vertical-align: middle;
}
.font-boolist{
    vertical-align: middle;
    font-size: 300%;
    font-weight: 300;
    font-weight: bold;
    font-family: arial;

}
.bg-body{
    background-color:#f6f8fa;
    
}

.bg-main{
    background-color: white;
    
}

.margin-padding-main{
    display: block;
    margin: 80px 200px 0px 200px;
    padding: 100px;
    height: auto;
}
.task-bg{

    box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    background-color: #46aff2;
    border-color: #46aff2;
  
    
}
    .font-task{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    font-family: arial;
    text-align: center;
    padding: 10px 13px 10px 13px;
    color: white;

    }
    .font-section{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    font-family: arial;
    text-align: center;
    padding: 10px 13px 10px 13px;
    color: rgb(124, 123, 123);

    }
    .section-bg{

    
    border: 2px solid;
    border-color: rgb(128, 128, 128);
    border-radius: 10px;
    background-color: white;
  }
   hr {
    color: rgb(87, 87, 87);
    margin-top:20px;
   }

   .lista{
    margin-top: 50px;
   }
   h3{
    font-size: 150%;
    font-family: arial;
    font-weight: bold;
    margin-top: 40px;

 }
    

.frecciagiu{
    display: inline-block;
    padding: 0px 0px 10px 0px;
    font-size: 20px;

} 

.padding-spanlista{
    padding-left: 10px;
    padding-right: 30px;
}

p{
    color: gray;
    
    font-family: arial;
    font-weight: bold;
    margin-bottom: 20px;
    
    
}


.checkmark{
    display: inline-block;
    height: auto;
    width: auto;
    border: 1px solid;
    color: green;
    border-color: green;
    border-radius: 50%;
    padding: 0px 5px 0px 5px;
}
.checkcross{
    display: inline-block;
    height: auto;
    width: auto;
    border: 1px solid;
    color: red;
    border-color: red;
    border-radius: 50%;
    padding: 0px 5px 0px 5px;
}

.bottone-editorial{
    display: inline-block;
    height: auto;
    width: auto;
     box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #46aff2;
    border-color: #46aff2;
    padding: 3px 10px 1px 10px;
  text-align: center;
  font-size: 100%;
 
}
.bottone-q1goals{
       display: inline-block;
    height: auto;
    width: auto;
     box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #9a73e4;
    border-color: #9a73e4;
    padding: 3px 10px 1px 10px;
  text-align: center;
  font-size: 100%;
 
}
.bottone-recruiting{
       display: inline-block;
    height: auto;
    width: auto;
     box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #65c2a8;
    border-color: #65c2a8;
    padding: 3px 10px 1px 10px;
  text-align: center;
  font-size: 100%;
 
}
.bottone-mobile{
       display: inline-block;
    height: auto;
    width: auto;
     box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #f49f34;
    border-color:#f49f34;
    padding: 3px 10px 1px 10px;
  text-align: center;
  font-size: 100%;
 
}
.bottone-website{
       display: inline-block;
    height: auto;
    width: auto;
     box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #9a73e4;
    border-color: #9a73e4;
    padding: 3px 10px 1px 10px;
  text-align: center;
  font-size: 100%;
 
}
.bottone-sales{
       display: inline-block;
    height: auto;
    width: auto;
     box-sizing: content-box;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    background-color: #b0cb25;
    border-color: #b0cb25;
    padding: 3px 10px 1px 10px;
  text-align: center;
  font-size: 100%;
 
}





    